<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet/less" type="text/css" href="/stylesheets/index.less">
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/third_party/closure/base.js"></script>
    <script type="text/javascript" src="/javascripts/third_party/jquery/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
    <script type="text/javascript" src="/javascripts/third_party/less/less-1.3.0.min.js"></script>
  </head>
  
  <body onload="reader.App.getInstance();">
    <div id="top-container">Readily</div>
    
    <ul id="bookmarks">
    </ul>
    
    <form id="share">
      <label>Title</label>
      <input id="share-title" type="text" class="span3"
             placeholder="Share something..." />
      <i class="icon-share"></i>

      <label>URL</label>
      <input id="share-url" type="text" class="span3"
             placeholder="Link to it!" />
      <i class="icon-leaf"></i>

      <label>Author</label>
      <input id="share-author" type="text" class="span3"
             placeholder="Who are you?" />
      <i class="icon-user"></i>
      <br />

      <div id="share-button" class="btn">Submit</button>
    </form>
  </body>
</html>
